<p id="notice"><%= notice %></p>

<h1>Ofuros</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ofuros.each do |ofuro| %>
      <tr>
        <td><%= link_to 'Show', ofuro %></td>
        <td><%= link_to 'Edit', edit_ofuro_path(ofuro) %></td>
        <td><%= link_to 'Destroy', ofuro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ofuro', new_ofuro_path %>
