<p id="notice"><%= notice %></p>


<p>
  <h3> <%= @ofuro.name %></h3>
</p>

<p>
  <% if @ofuro.image.present? %>
    <%= image_tag @ofuro.image.url, class:'image' %>
    <%= @ofuro.image.url %>
  <% else %>
	  <%= image_tag 'default.jpg' %>
	<% end %>
</p>

    <% if logged_in? %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入り登録', favorites_path(ofuro_id: @ofuro.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>

<p>
  <strong>銭湯名:</strong>
  <%= @ofuro.name %>
</p>
<p>
  <strong>概要:</strong>
  <%= @ofuro.introduction %>
</p>
<p>
  <strong>住所:</strong>
  <%= @ofuro.address %>
</p>

<h3>マップ</h3>
<div class="map">
  <div id="map">
  </div>
</div>

<div type="text/javascript">
  <script>
    function initMap(){
      let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @ofuro.latitude %>, lng: <%= @ofuro.longitude %> },
      zoom: 15
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>


<% if current_user.admin? %>
<%= link_to '編集', edit_ofuro_path(@ofuro) %> 
<%end%>
<%= link_to '戻る', ofuros_path %>
